<div class="container mt-2 p2 shadow">
    <h1 class="title">Movies</h1>
 
    <table id="movies" class="table table-hover table-responsive">
    <thead>
        <tr>
        <th>ID</th>
        <th>TÍTULO</th>
        <th>DATA DE LANÇAMENTO</th>
        <th>AÇÕES</th>
        </tr>
    </thead>
    <tbody>
        <% @movies.each do |movie| %>
        <tr>
            <td><%= movie.id %></td>
            <td><%= movie.title %></td>
            <td><%= movie.release_date %></td>
            <td>
                <%= link_to "ABRIR", "/movies/#{movie.id}", :class => "btn btn-primary" %>
            </td>
            <td>
                <%= link_to "EDITAR", "/movies/#{movie.id}/edit", :class => "btn btn-dark" %>
            </td>
            <td>
                <%= link_to "EXCLUIR", "/movies/#{movie.id}", :class => "btn btn-danger" %>
            </td>
        </tr>
        <% end %>
    </tbody>
    </table>    
</div>