<div class="container mt-2 p-2 shadow">
    <form>
       <h1>Filme: <%= @movie.title %></h1>
       <p>
        <strong>Descrição: </strong>
        <%= @movie.description %>
       </p>
       <p>
        <strong>Lançamento: </strong>
        <%= @movie.release_date %>
       </p>

       <%= image_tag 'capa' %>
       <p class="mt-2">
          <%= link_to 'Editar', "/movies/#{@movie.id}/edit", :class => 'btn btn-warning' %>
          <%= link_to 'Voltar', movies_path, :class => 'btn btn-dark' %>
       </p>
    </form>
</div>
